div {
    width: 400px;
    height: 400px;
    float: right;
}   

img {
    max-width: 100%;
}   

.image{
    position: relative;
}

h1 {
    font-style: Arial;
    font-size: 40px;
}

.title{
    color: aquamarine;
}

h2 {
    font-style: Arial;
    font-size: 30px;
    color: floralwhite;
    padding: 20px;
}


a{
    font-style: Arial;
    font-size: 20px;
    text-decoration: none;
    color: blue;
    display: block;
    padding: 8px;
    background-color: antiquewhite;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

li{
    float: left;
}


header{
    background-color: dimgray;
    text-align: center;
}

html{
    background-color: black;
}

.footer{
    color: chartreuse;
    font-size:10px;
    position:fixed;
    left:50%;
    bottom:0px;
    height:30px;
    width:100%;
}
@media screen and (min-width: 0px) and (max-width: 320px){
    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 100%){
   img {
        width: 30%;
        height: 30%;
    }
    h2{
        float: absolute;
        width: 50%;
    }
}

@media screen and (max-width : 600px){

	ul {
		position: static;
		
	}
	
	li {
		margin-bottom: 1px;
        padding-bottom: 10px;
	}
	
	ul li, li a {
		width: 100%;
	}
   
}